.location {
     text-align:center;
     font-size:20px;
     color:#090;
     background-color:#ddd;
     margin-right:10px;
}

.wall {
    color: red;
    font-size:30px;
    text-align:center;
    background-color:#ddd;
}

body {
    background-color:#ddd;
}

p {
    color:#090;
}

form {
    color: blue;
    font-size:20px;
    background-color:#ddd;
}

.wrapper__img {
position: relative;
}

.zmdi {
position: absolute;
top: 0;
right: 0;
}